<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.104" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.109" targetFramework="net472" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
</packages>