<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Examine" type="Examine.Config.ExamineSettings, Examine"/>
    <section name="ExamineLuceneIndexSets" type="UmbracoExamine.Config.ExamineLuceneIndexes, UmbracoExamine"/>
  </configSections>
  
  <Examine>
    <ExamineIndexProviders enableDefaultEventHandler="false">
      <providers>

        <add name="CWSIndex" type="UmbracoExamine.LuceneExamineIndexer, UmbracoExamine"
             indexSet="CWSIndex"
             enabled="false"
             debug="false"/>
        
      </providers>
    </ExamineIndexProviders>
    <ExamineSearchProviders defaultProvider="CWSIndex">
      <providers>

        <add name="CWSIndex" type="UmbracoExamine.LuceneExamineSearcher, UmbracoExamine"
           indexSet="CWSIndex"/>
        
      </providers>
    </ExamineSearchProviders>
  </Examine>

  <ExamineLuceneIndexSets>

    <IndexSet SetName="CWSIndex" IndexPath="">
      <IndexAttributeFields>
        <add Name="id" />
        <add Name="nodeName" />
        <add Name="updateDate" />
        <add Name="writerName" />
        <add Name="path" />
        <add Name="nodeTypeAlias" />
        <add Name="parentID" />
      </IndexAttributeFields>
      <IndexUserFields>
        <add Name="headerText" />
        <add Name="bodyText" />
        <add Name="metaDescription" />
        <add Name="metaKeywords" />
        <add Name="bodyTextColOne" />
        <add Name="bodyTextColTwo" />
      </IndexUserFields>
      <IncludeNodeTypes>
        <add Name="CWS_Home" />
        <add Name="CWS_Textpage" />
        <add Name="CWS_TextpageTwoCol" />
        <add Name="CWS_NewsEventsList" />
        <add Name="CWS_NewsItem" />
        <add Name="CWS_Gallery" />
        <add Name="CWS_EventItem" />
      </IncludeNodeTypes>
      <ExcludeNodeTypes />
    </IndexSet>

  </ExamineLuceneIndexSets>
  
</configuration>