<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--
    NOTE: A different serach index is defined because when testing searches it is using a templated 
    index that is copied to the bin folder on each build and since the index tests may run before
    the search tests, we don't want to change what is in the index.
  -->
  
  
  <configSections>
    <section name="Examine" type="Examine.Config.ExamineSettings, Examine"/>
    <section name="ExamineLuceneIndexSets" type="UmbracoExamine.Config.ExamineLuceneIndexes, UmbracoExamine"/>
  </configSections>
  
  <Examine>
    <ExamineIndexProviders enableDefaultEventHandler="false">
      <providers>

        <add name="CWSIndex" type="UmbracoExamine.LuceneExamineIndexer, UmbracoExamine"
             dataService="Examine.Test.DataServices.TestDataService, Examine.Test"
             indexSet="CWSIndex"
             supportUnpublished="false"
             supportProtected="false"
             runAsync="false"
             interval="5"
             analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" />
        
      </providers>
    </ExamineIndexProviders>
    <ExamineSearchProviders defaultProvider="CWSSearch">
      <providers>
        
        <!-- This search provider is used for our test searches -->
        <add name="CWSSearch" type="UmbracoExamine.LuceneExamineSearcher, UmbracoExamine"
           indexSet="CWSSearch"/>

        <!-- This search provider is used to query our index tests for results -->
        <add name="CWSIndex" type="UmbracoExamine.LuceneExamineSearcher, UmbracoExamine"
           indexSet="CWSIndex"/>

      </providers>
    </ExamineSearchProviders>
  </Examine>

  <ExamineLuceneIndexSets>

    <!--     
    The IndexPath gets set at runtime for this test suite.
    -->
    <IndexSet SetName="CWSSearch" IndexPath="App_Data\SearchWorkingTest">
      <IndexAttributeFields>
        <add Name="id" />
        <add Name="nodeName" />
        <add Name="updateDate" />
        <add Name="writerName" />
        <add Name="path" />
        <add Name="nodeTypeAlias" />
        <add Name="parentID" />
      </IndexAttributeFields>
      <IndexUserFields>
        <add Name="headerText" />
        <add Name="bodyText" />
        <add Name="metaDescription" />
        <add Name="metaKeywords" />
        <add Name="bodyTextColOne" />
        <add Name="bodyTextColTwo" />
      </IndexUserFields>
      <IncludeNodeTypes>
        <add Name="CWS_Home" />
        <add Name="CWS_Textpage" />
        <add Name="CWS_TextpageTwoCol" />
        <add Name="CWS_NewsEventsList" />
        <add Name="CWS_NewsItem" />
        <add Name="CWS_Gallery" />
        <add Name="CWS_EventItem" />
      </IncludeNodeTypes>
      <ExcludeNodeTypes />
    </IndexSet>

    <!--     
    The IndexPath is set at runtime for this test suite!
    -->
    <IndexSet SetName="CWSIndex" IndexPath="App_Data\IndexWorkingTest">
      <IndexAttributeFields>
        <add Name="id" />
        <add Name="nodeName" />
        <add Name="updateDate" />
        <add Name="writerName" />
        <add Name="path" />
        <add Name="nodeTypeAlias" />
        <add Name="parentID" />
      </IndexAttributeFields>
      <IndexUserFields>
        <add Name="headerText" />
        <add Name="bodyText" />
        <add Name="metaDescription" />
        <add Name="metaKeywords" />
        <add Name="bodyTextColOne" />
        <add Name="bodyTextColTwo" />
      </IndexUserFields>
      <IncludeNodeTypes>
        <add Name="CWS_Home" />
        <add Name="CWS_Textpage" />
        <add Name="CWS_TextpageTwoCol" />
        <add Name="CWS_NewsEventsList" />
        <add Name="CWS_NewsItem" />
        <add Name="CWS_Gallery" />
        <add Name="CWS_EventItem" />
      </IncludeNodeTypes>
      <ExcludeNodeTypes />
    </IndexSet>

  </ExamineLuceneIndexSets>
  
</configuration>