<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    NOTE: A different search index is defined because when testing searches it is using a template 
    index that is copied to the bin folder on each build and since the index tests may run before
    the search tests, we don't want to change what is in the index.
  -->
  <configSections>
    <section name="Examine" type="Examine.Config.ExamineSettings, Examine"/>
    <section name="ExamineLuceneIndexSets" type="Examine.LuceneEngine.Config.IndexSets, Examine"/>
  </configSections>
  <Examine RebuildOnAppStart="false">
    <ExamineIndexProviders>
      <providers>
        <!-- Used to show convension over configuration, this maps to the IndexSet ConvensionNamedIndexSet based on naming convensions -->
        <!-- The only reason we're specifying the dataService here is because this is not running in the Umbraco context -->
        <!-- This is the bare minimum config, which means it will index everything by default -->
        <add name="ConvensionNamedIndexer" type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine" dataService="Examine.Test.DataServices.TestDataService, Examine.Test" enableDefaultEventHandler="false" runAsync="false"/>
        <!-- Shows all of the configuration options available -->
        <add name="CWSIndexer" type="UmbracoExamine.UmbracoContentIndexer, UmbracoExamine" dataService="Examine.Test.DataServices.TestDataService, Examine.Test" indexSet="CWSIndexSet" supportUnpublished="false" supportProtected="false" runAsync="false" interval="5" analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net" enableDefaultEventHandler="false"/>
        <add name="PDFIndexer" type="UmbracoExamine.PDF.PDFIndexer, UmbracoExamine.PDF" dataService="Examine.Test.DataServices.TestDataService, Examine.Test" enableDefaultEventHandler="false" runAsync="false"/>
        <add name="SimpleIndexer" type="Examine.LuceneEngine.Providers.SimpleDataIndexer, Examine" dataService="Examine.Test.DataServices.TestSimpleDataProvider, Examine.Test" indexTypes="Documents,Pictures" runAsync="false"/>
      </providers>
    </ExamineIndexProviders>
    <ExamineSearchProviders defaultProvider="CWSSearcher">
      <providers>
        <!-- Used to show how to create a searcher by naming convensions -->
        <add name="ConvensionNamedSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"/>
        <!-- This search provider is used for our test searches -->
        <add name="CWSSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine" indexSet="CWSIndexSet"/>
        <add name="PDFSearcher" type="UmbracoExamine.UmbracoExamineSearcher, UmbracoExamine"/>
        <add name="SimpleSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine"/>
        <add name="MultiIndexSearcher" type="Examine.LuceneEngine.Providers.MultiIndexSearcher, Examine" indexSets="SimpleIndexSet,ConvensionNamedIndexSet,CWSIndexSet,PDFIndexSet"/>
      </providers>
    </ExamineSearchProviders>
  </Examine>
  <ExamineLuceneIndexSets>
    <!-- Shows the bare minimum setup required for an index set -->
    <IndexSet SetName="SimpleIndexSet" IndexPath="App_Data\SimpleIndexSet">
      <IndexUserFields>
        <add Name="Author"/>
        <add Name="DateCreated" EnableSorting="true" Type="DateTime"/>
        <add Name="Title"/>
        <add Name="Photographer"/>
        <add Name="YearCreated" Type="Date.Year"/>
        <add Name="MonthCreated" Type="Date.Month"/>
        <add Name="DayCreated" Type="Date.Day"/>
        <add Name="HourCreated" Type="Date.Hour"/>
        <add Name="MinuteCreated" Type="Date.Minute"/>
        <add Name="SomeNumber" Type="Number"/>
        <add Name="SomeFloat" Type="Float"/>
        <add Name="SomeDouble" Type="Double"/>
        <add Name="SomeLong" Type="Long"/>
      </IndexUserFields>
    </IndexSet>
    <!-- Shows the bare minimum setup required for an index set -->
    <IndexSet SetName="ConvensionNamedIndexSet" IndexPath="App_Data\ConvensionNamedTest"/>
    <!-- Shows most options except for exclude -->
    <!--
    <IndexSet SetName="CWSIndexSet"
              IndexPath="App_Data\CWSIndexSetTest"
              IndexParentId="-1">
      <IndexAttributeFields>
        <add Name="id" EnableSorting="true" Type="Number" />
        <add Name="nodeName" EnableSorting="true" />
        <add Name="updateDate" EnableSorting="true" Type="DateTime" />
        <add Name="writerName" />
        <add Name="path" />
        <add Name="nodeTypeAlias" />
        <add Name="parentID" />
      </IndexAttributeFields>
      <IndexUserFields>
        <add Name="headerText" />
        <add Name="bodyText" />
        <add Name="metaDescription" />
        <add Name="metaKeywords" />
        <add Name="bodyTextColOne" />
        <add Name="bodyTextColTwo" />
        <add Name="xmlStorageTest" />
      </IndexUserFields>
      <IncludeNodeTypes>
        <add Name="CWS_Home" />
        <add Name="CWS_Textpage" />
        <add Name="CWS_TextpageTwoCol" />
        <add Name="CWS_NewsEventsList" />
        <add Name="CWS_NewsItem" />
        <add Name="CWS_Gallery" />
        <add Name="CWS_EventItem" />
        <add Name="Image" />
      </IncludeNodeTypes>
      <ExcludeNodeTypes />
    </IndexSet>-->
    <IndexSet SetName="PDFIndexSet" IndexPath="App_Data\PDFIndexSet"/>
  </ExamineLuceneIndexSets>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lucene.Net" publicKeyToken="85089178b9ac3181" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
