@page "/"

<PageTitle>Examine</PageTitle>

<h1>Welcome to Examine</h1>

<p>This project is used to demonstrate what can be done with Examine</p>

<h2>What is Examine?</h2>
<p>Examine allows you to index and search data easily and wraps the Lucene.Net indexing/searching engine. Lucene is _super_ fast and allows for very fast searching even on very large amounts of data. Examine is very extensible and allows you to configure as many indexes as you like and each may be configured individually. Out of the box Examine gives you a Lucene based index implementation as well as a Fluent API that can be used to search for your data.</p>
