*.add
_ReSharper*
*.suo
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
*ReSharper.user
TestResults/*
Examine.Web.Demo/App_Data/*
*.user
build/Releases/*
Projects/Examine.Test/bin/*
Projects/Examine.Azure/bin/*
Projects/Examine.Azure/obj/*
Projects/Examine.Test/obj/*
Projects/Examine.Web.Demo/App_Data/*
Projects/Examine.Web.Demo/bin/*
Projects/Examine/bin/*
Projects/Examine/obj/*
Projects/Examine.Web.Demo/obj/*
packages/*
Projects/Examine.Web.Demo/App_Data/*.sdf
Projects/Examine.Web.Demo/App_Data/SimpleIndexSet2/Index/*
Projects/UmbracoExamine/bin/*
Projects/UmbracoExamine/obj/*
*.orig
NDepend/*
