*.add
_ReSharper*
*.suo
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
*ReSharper.user
TestResults/*
Examine.Web.Demo/App_Data/*
*.user
build/Releases/*
packages/*
Projects/Examine.Web.Demo/App_Data/*.sdf
Projects/Examine.Web.Demo/App_Data/SimpleIndexSet2/Index/*
NDepend/*
*.orig
.Examine.boltdata/*
src/Examine.Web.Demo/App_Data/SimpleIndexSet2/*
src/Examine.Web.Demo/App_Data/Database1.sdf
src/Examine.vsmdi
src/Local.testsettings
src/packages/*
/src/.vs/*
/src/Examine.Web.Demo/_bin_deployableAssemblies/*
/src/Examine.Web.Demo/App_Data/*
src/.idea
