<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- azure SETTINGS -->
    <add key="BlobStorageEndpoint" value="http://YOURACCOUNT.blob.core.windows.net"/>
    <add key="AccountName" value="YOURACCOUNTNAME"/>
    <add key="AccountSharedKey" value="YOURACCOUNTKEY"/>
  </appSettings>
  
</configuration>