@{
    ViewBag.Title = "Home Page";    
}
<h2>Examine web tester</h2>

@using (Html.BeginForm("Populate", "Home"))
{    
    <p>
        Click to populate db with 27000 rows
        <br />
        <button id="populate" name="populate">
            Populate</button>
    </p>
}
@using (Html.BeginForm("RebuildIndex", "Home"))
{    
    <p>
        Click to rebuild the index with 27000 rows into Examine
        <br />
        <button id="index" name="index">
            Index Data</button>
    </p>
}
@using (Html.BeginForm("ReIndexEachItemIndividually", "Home"))
{    
    <p>
        Click to re-index the 27000 rows individually into Examine
        <br />
        <button id="index" name="index">
            Index Data</button>
    </p>
}
<hr/>

<h5>Search Simple2Indexer by Id</h5>
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <input type="number" name="id" value="2"/>
    <button type="submit">Search</button>
}

<h5>Search Simple2Indexer with Facets</h5>
@using (Html.BeginForm("SearchFacets", "Home", FormMethod.Get))
{
    <label>q</label><input type="text" name="q" value="Kühnel"/>
    <label>count</label><input type="number" name="count" value="5"/>
    <label>countFacets</label><input type="text" name="countFacets" value="true"/>
    <label>facetFilter</label><input type="text" name="facetFilter" value="false"/>
    <label>all</label><input type="text" name="all" value="false"/>
    <label>likeWeight</label><input type="number" name="likeWeight" value="0" />
    <button type="submit">Search</button>
}

<h5>Search RuntimeIndexer1</h5>
@using (Html.BeginForm("SearchCustom", "Home", FormMethod.Get))
{
    <input type="hidden" name="indexName" value="RuntimeIndexer1"/>
    <input type="text" name="q" value="test1@example.com" />
    <button type="submit">Search</button>
}
