@model Examine.Web.Demo.Models.RebuildModel

<div class="page-header">
    <h1>Rebuild results</h1>
</div>
<p>
    Total seconds to collect & index data for @Model.TotalIndexed Sql rows: <strong>@Model.TotalSeconds</strong>   
</p>
