<?xml version="1.0"?>
<!-- 
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to add your own search/index providers.
Index sets can be defined in the ExamineIndex.config if you're using the standard provider model.

More information and documentation can be found on CodePlex: http://umbracoexamine.codeplex.com
--> 
<UmbracoExamine>
  <ExamineIndexProviders enableDefaultEventHandler="true">
    <providers>

      <!-- Interval is 30 seconds by default and sets the number of seconds between intervals that the indexing queue will be processed -->
      <!-- When debug is true, indexing will happen synchronously and throw visible exceptions if there are errors, otherwise
      if debug = false, indexing occurs async -->
      <add name="InternalIndex" type="UmbracoExamine.Providers.LuceneExamineIndexer, UmbracoExamine.Providers"
           indexSet="Default"
           enabled="true"
           debug="false"
           supportUnpublished="true"
           interval="10"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/> 
      
      <!-- Support protected is false by default but if set to true, the system will index nodes that have public access policies applied to them -->
      <add name="CWSIndex" type="UmbracoExamine.Providers.LuceneExamineIndexer, UmbracoExamine.Providers"
           indexSet="CWSIndex"
           enabled="true"
           debug="false"
           supportProtected="false"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>
        
    </providers>
  </ExamineIndexProviders>
  <ExamineSearchProviders defaultProvider="CWSIndex">
    <providers>
      
      <add name="InternalSearch" type="UmbracoExamine.Providers.LuceneExamineSearcher, UmbracoExamine.Providers"
           indexSet="Default"
           analyzer="Lucene.Net.Analysis.WhitespaceAnalyzer, Lucene.Net"/>
      
      <add name="CWSIndex" type="UmbracoExamine.Providers.LuceneExamineSearcher, UmbracoExamine.Providers"
           indexSet="CWSIndex"
           analyzer="Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net"/>
      
    </providers>
  </ExamineSearchProviders>
</UmbracoExamine>
