@model double

<h2>Examine data collection - TableDirect reader</h2>
<p>
    Total seconds to collect & index data for 27000 Sql rows: <strong>@Model.ToString()</strong>   
</p>
@Html.ValidationMessage("DataError")
