<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="blobStorage" value="DefaultEndpointsProtocol=[http|https];AccountName=myAccountName;AccountKey=myAccountKey"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
