<?xml version="1.0" encoding="utf-8"?>
<!-- EXAMPLE FOR WEB CONFIG SETTINGS -->
<configuration>

  <configSections>
    <section name="ExamineIndex" type="Examine.Configuration.IndexSets, Examine" />
  </configSections>

  <!-- DefaultIndexSet,EnableDefaultActionHandler:  REQUIRED -->
  <ExamineIndex DefaultIndexSet="Test1" EnableDefaultActionHandler="true">
    <!-- MaxResults,IndexPath,SetName:  REQUIRED -->
    <!-- IndexParentId: NOT Required. If not specified then then all documents are indexed, otherwise only documents as children of the id are indexed -->
    <IndexSet SetName="Test1" IndexPath="~/data/indexes/test2/" MaxResults="100">
      <IndexAttributeFields>
        <add Name="id" />             <!-- REQUIRED -->
        <add Name="nodeName" />       <!-- REQUIRED -->
        <add Name="updateDate" />
        <add Name="writerName" />
        <add Name="path" />
        <add Name="nodeTypeAlias" />  <!-- REQUIRED -->
      </IndexAttributeFields>      
      <!-- The User defined fields to be indexed and searched. The Indexer has methods to override the fields to be searched. -->
      <IndexUserFields>
        <add Name="PageTitle" />
        <add Name="PageContent" />
        <add Name="ArticleTitle" />
        <add Name="Body" />
      </IndexUserFields>
      <!-- IncludeNodeTypes not required. If not specified, the indexer will index ALL document types-->
      <IncludeNodeTypes>
        <add Name="News Article" />
        <add Name="Product Model" />
      </IncludeNodeTypes>
      <!-- ExcludeNodeTypes not required. If specified, these node types will not be indexed. -->
      <ExcludeNodeTypes>
        <add Name="News Comment" />
      </ExcludeNodeTypes>
    </IndexSet>
    <IndexSet SetName="Test2" IndexPath="~/data/indexes/test1/" IndexParentId="1111">
      <IndexAttributeFields>
        <add Name="id" />
        <add Name="nodeName" />
        <add Name="updateDate" />
        <add Name="writerName" />
        <add Name="path" />
        <add Name="nodeTypeAlias" />
      </IndexAttributeFields>
      <IncludeNodeTypes>
        <add Name="PageTitle" />
        <add Name="PageContent" />
        <add Name="ArticleTitle" />
      </IncludeNodeTypes>
    </IndexSet>
  </ExamineIndex>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Lucene.Net" publicKeyToken="85089178b9ac3181" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
