<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.6.0" targetFramework="net461" />
  <package id="Azure.Storage.Blobs" version="12.7.0" targetFramework="net461" />
  <package id="Azure.Storage.Common" version="12.6.0" targetFramework="net461" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net452" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.10" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.10" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.10" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.10" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.10" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="3.1.10" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.10" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="3.1.10" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.10" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net461" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>